<table class="table table-striped table-valign-middle">
    <thead>
    {% block list_columns %}
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="table-actions"></th>
        </tr>
    {% endblock %}
    </thead>
    <tbody>
    {% block list_rows %}
    {% endblock %}
    </tbody>
</table>
